:root {
    --text-color: #e6d9cf;
    --color-dark-magenta: #533d2d;
    --color-dark-green: #53432d;
    --color-dark-blue: #634b36;
    --color-dark-red: #53362d;
    --color-red: #8f523d;
    --color-light-red: #b3664d;
    --color-green: #8f6d3d;
    --color-light-green: #b3884d;
    --color-yellow: #c93;
    --color-light-yellow: #d6ad5c;
    --color-magenta: #8f5f3d;
    --color-light-magenta: #b3774d;
    --color-dark-purple: #6b4a2e;
    --color-purple: #8f633d;
    --color-light-purple: #b37c4d;
    --color-blue: #bd7328;
    --color-light-blue: #d78c42;
    --color-bright-white: #f5f3ef;
    --color-light-orange: #d97126;
    --bg-0: #6b4e3b;
    --bg-1: #362b22;
    --bg-2: #2a201a;
    --bg-3: #211a15;
    --bg-4: #1a1410;
    --bg-5: #0f0c0a;
    --message-bubble-bg: #2a1f18;
    --message-bubble-fg: #e6d9cf;
    --message-bubble-box-shadow: 0 1px 1px 0 #00000024, 0 2px 1px -1px #0000001f, 0 1px 3px 0 #0003;
    --message-bubble-border-radius: 20px;
    --message-bubble-border: none;
    --message-bubble-avatar-border-radius: 50%;
    --achievement-fg: inherit;
    --achievement-bg: var(--bg-2);
    --achievement-box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;
    --achievement-progress-bg: tan;
    --alert-bg: var(--bg-3);
    --alert-fg: #d1bea9;
    --alert-gap-color: var(--bg-0);
    --alert-gap-width: 1px;
    --article-card-bg: var(--bg-1);
    --article-card-fg: #d1bea9;
    --article-card-head-fg: #d1bea9;
    --article-card-time-fg: #d1bea9;
    --article-box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;
    --bbcode-input-header-bg: var(--bg-2);
    --bbcode-input-body-bg: var(--bg-2);
    --bbcode-input-border: 1px solid var(--bg-4);
    --bbcode-input-border-radius: 5px;
    --bbcode-rendered-fg-default: #e6d9cf;
    --bbcode-rendered-fg-muted: #c3b5aa;
    --bbcode-rendered-fg-subtle: #8c7d72;
    --bbcode-rendered-canvas-default: transparent;
    --bbcode-rendered-canvas-subtle: #362b22;
    --bbcode-rendered-border-default: #4a3a2e;
    --bbcode-rendered-border-muted: #5c4a3b;
    --bbcode-rendered-neutral-muted: #5c4a3b66;
    --bbcode-rendered-accent-fg: tan;
    --bbcode-rendered-accent-emphasis: #a67c52;
    --bbcode-rendered-attention-subtle: #c8a080;
    --bbcode-rendered-danger-fg: #c24229cc;
    --bbcode-rendered-quote-bg: #6b4e3b22;
    --bbcode-rendered-quote-border: var(--color-green);
    --body-bg: #362b22;
    --body-fg: var(--text-color);
    --body-bg-secondary: #211a15;
    --breadcrumb-fg: #a3917d;
    --breadcrumb-active-fg: #d1bea9;
    --breadcrumb-hover-fg: #e6d9cf;
    --breadcrumb-inactive-text-decoration: none;
    --button-filled-bg: var(--color-green);
    --button-filled-border: none;
    --button-filled-border-radius: 9999px;
    --button-filled-fg: white;
    --button-outlined-bg: inherit;
    --button-outlined-border: 1px solid var(--bg-4);
    --button-outlined-border-radius: 9999px;
    --button-outlined-fg: currentColor;
    --button-text-bg: inherit;
    --button-text-border: none;
    --button-text-border-radius: 5px;
    --button-text-fg: currentColor;
    --chatbox-message-bg: var(--bg-1);
    --chatbox-button-fg: #a3917d;
    --chatbox-button-hover-fg: #c3b5aa;
    --chatbox-users-bg: var(--bg-2);
    --chatbox-tab-delete-fg: #c24229;
    --chatbox-tab-delete-bg: var(--bg-0);
    --comparison-divider-fg: #e6d9cf;
    --comparison-button-fg: #e6d9cf;
    --data-table-border-radius: var(--panel-border-radius);
    --data-table-fg: var(--text-color);
    --data-table-th-bg: var(--bg-3);
    --data-table-thead-border: none;
    --data-table-tr-border: 1px solid var(--bg-4);
    --data-table-tr-even-bg: var(--bg-2);
    --data-table-tr-hover-bg: var(--bg-2);
    --data-table-tr-odd-bg: var(--bg-2);
    --data-table-tfoot-border: none;
    --dialog-bg: var(--bg-2);
    --dialog-border: none;
    --dialog-border-radius: 10px;
    --dialog-box-shadow: none;
    --dialog-fg: var(--text-color);
    --dialog-head-bg: var(--bg-5);
    --dialog-head-fg: #e6d9cf;
    --donation-border-color: var(--bg-5);
    --donation-box-shadow-color: var(--bg-5);
    --donation-primary-text-color: #e6d9cf;
    --donation-secondary-text-color: #c3b5aa;
    --donation-background-color: var(--bg-5);
    --donation-price-days-color: tan;
    --donation-chart-daily-bg: #d2b48c33;
    --donation-chart-daily-border: tan;
    --donation-chart-monthly-bg: #a67c5233;
    --donation-chart-monthly-border: #a67c52;
    --fieldset-bg: inherit;
    --fieldset-fg: #d1bea9;
    --fieldset-border-radius: 5px;
    --fieldset-border: 1px solid var(--bg-0);
    --footer-bg: transparent;
    --footer-hr-fg: #362b22;
    --icon-button-bg: inherit;
    --icon-button-border: none;
    --icon-button-border-radius: 9999px;
    --icon-button-fg: currentColor;
    --icon-button-filled-bg: var(--color-green);
    --icon-button-filled-fg: white;
    --icon-button-filled-border: none;
    --input-text-border: 1px solid var(--bg-0);
    --input-text-border-active: 2px solid tan;
    --input-text-border-error: 1px solid #c24229;
    --input-text-border-hover: 2px solid #a3917d;
    --input-text-border-radius: 5px;
    --input-text-fg: #d1bea9;
    --input-text-padding: 12px;
    --input-text-padding-active: 11px;
    --input-text-padding-hover: 11px;
    --key-value-border-radius: var(--panel-border-radius);
    --key-value-even-bg: var(--bg-2);
    --key-value-fg: var(--text-color);
    --key-value-odd-bg: var(--bg-2);
    --key-value-padding: 10px;
    --label-bg: #e6d9cf;
    --label-fg: var(--bg-0);
    --label-fg-active: tan;
    --label-fg-error: #c24229;
    --label-fg-hover: #a3917d;
    --legend-fg: var(--bg-0);
    --legend-bg: transparent;
    --legend-border: none;
    --legend-border-radius: 0;
    --mediahub-card-bg: var(--bg-5);
    --mediahub-card-fg: #e6d9cf;
    --mediahub-card-hover-fg: #fff;
    --mediahub-card-border: none;
    --mediahub-card-border-radius: 0;
    --mediahub-card-box-shadow: none;
    --meta-backdrop-filter: brightness(30%);
    --meta-dropdown-backdrop-filter: brightness(2) blur(10px);
    --meta-dropdown-bg: #4a3a2e99;
    --meta-dropdown-backdrop-filter-hover: brightness(2) blur(10px);
    --meta-dropdown-hover-bg: #ffffff1a;
    --meta-dropdown-fg: #d1bea9;
    --meta-dropdown-hover-fg: #e6d9cf;
    --meta-description-fg: #e6d9cf;
    --meta-id-tag-fg: #e6d9cf;
    --meta-id-tag-bg: transparent;
    --meta-id-tag-hover-fg: #fff;
    --meta-id-tag-hover-bg: #ffffff1a;
    --meta-chips-heading-fg: #d1bea9;
    --meta-chip-icon-fg: #211a15;
    --meta-chip-icon-hover-bg: #d1bea9;
    --meta-chip-icon-bg: #e6d9cf;
    --meta-chip-name-fg: #e6d9cf;
    --meta-chip-value-fg: #c3b5aa;
    --meta-chip-value-hover-fg: #e6d9cf;
    --meta-chip-backdrop-filter-hover: brightness(2) blur(10px);
    --meta-chip-hover-bg: #ffffff1a;
    --meta-popup-bg: var(--body-bg);
    --meta-popup-fg: var(--text-color);
    --meter-fg: var(--bg-4);
    --meter-bg: var(--bg-0);
    --notification-read: transparent;
    --notification-unread: var(--color-green);
    --option-bg: #3a2e23;
    --option-fg: #c3b5aa;
    --paginate-bg: var(--bg-5);
    --paginate-bg-hover: #2a1f18;
    --paginate-bg-current: #352920;
    --paginate-border-radius: var(--panel-border-radius);
    --paginate-fg: #a3917d;
    --paginate-fg-disabled: var(--bg-0);
    --paginate-divider: #3a2e23;
    --panel-action-fg: #d1bea9;
    --panel-border: none;
    --panel-bg: var(--bg-2);
    --panel-fg: var(--text-color);
    --panel-body-border-radius: var(--panel-border-radius);
    --panel-box-shadow: none;
    --panel-border-radius: 0;
    --panel-head-bg: var(--bg-4);
    --panel-head-fg: #e6d9cf;
    --panel-head-border-radius: var(--panel-border-radius);
    --panel-group-fg: var(--panel-head-fg);
    --playlist-card-bg: var(--bg-5);
    --playlist-card-border: none;
    --playlist-card-border-radius: 8px;
    --playlist-card-box-shadow: 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f, 0 2px 4px -1px #0003;
    --playlist-card-fg: #d1bea9;
    --playlist-card-missing-image-bg: #2a1f18;
    --playlist-card-missing-image-fg: #c3b5aa;
    --prize-bg: var(--bg-5);
    --prize-border-radius: 10px;
    --prize-border: none;
    --prize-box-shadow: 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f, 0 2px 4px -1px #0003;
    --prize-fg: #d1bea9;
    --prize-heading-fg: #d1bea9;
    --prize-icon-primary-color: tan;
    --prize-icon-secondary-color: #f5ebe2;
    --post-bg: var(--bg-1);
    --post-fg: #e6d9cf;
    --post-shadow: none;
    --post-head-fg: var(--text-color);
    --post-head-bg: none;
    --post-toolbar-bg: var(--bg-3);
    --post-toolbar-fg: #e6d9cf;
    --post-toolbar-hover-bg: #3a2e23;
    --post-toolbar-hover-fg: inherit;
    --post-like-fg: #a67c52;
    --post-dislike-fg: #c24229;
    --post-aside-bg: var(--bg-3);
    --post-aside-fg: #e6d9cf;
    --post-footer-fg: var(--text-color);
    --quick-search-bg: var(--bg-3);
    --quick-search-fg: #d1bea9;
    --quick-search-border: 1px solid transparent;
    --quick-search-border-radius: 16px;
    --quick-search-box-shadow: 0 4px 6px #0f0c0a47;
    --quick-search-selector-fg: #d1bea9;
    --quick-search-selector-hover-bg: #4a3a2e;
    --quick-search-selector-hover-fg: #e6d9cf;
    --quick-search-selector-selected-bg: var(--bg-4);
    --quick-search-selector-selected-fg: #e6d9cf;
    --quick-search-result-bg: var(--bg-0);
    --quick-search-result-fg: #e6d9cf;
    --quick-search-result-hover-bg: var(--bg-4);
    --quick-search-result-hover-fg: #e6d9cf;
    --quick-search-result-image-border-radius: 5px;
    --quick-search-result-year-fg: #a3917d;
    --quick-search-result-border: none;
    --scrollbar-color: #6b4e3b44;
    --secondary-nav-bg: var(--bg-3);
    --secondary-nav-tab-fg: #d1bea9;
    --secondary-nav-tab-bg: inherit;
    --secondary-nav-tab-active-text-decoration: underline #a3917d 2px;
    --secondary-nav-tab-hover-fg: #e6d9cf;
    --secondary-nav-tab-hover-bg: transparent;
    --secondary-nav-tab-hover-text-decoration: underline #a3917d 2px;
    --secondary-nav-tab-menu-bg: var(--bg-4);
    --secondary-nav-tab-menu-fg: inherit;
    --secondary-nav-tab-menu-border: none;
    --secondary-nav-tab-menu-border-radius: 6px;
    --secondary-nav-tab-menu-box-shadow: 0 12px 17px 2px #00000024, 0 5px 22px 4px #0000001f, 0 7px 8px -4px #0003;
    --select-border: 1px solid var(--bg-0);
    --select-border-active: 2px solid tan;
    --select-border-error: 1px solid #c24229;
    --select-border-hover: 2px solid #a3917d;
    --select-border-radius: 5px;
    --select-fg: #d1bea9;
    --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23d1bea9' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
    --select-padding: 11px 23px 11px 11px;
    --select-padding-active: 10px 22px 10px 10px;
    --select-padding-hover: 10px 22px 10px 10px;
    --subforum-listing-odd-bg: var(--bg-3);
    --subforum-listing-even-bg: transparent;
    --subforum-listing-border: none;
    --textarea-border: 1px solid var(--bg-4);
    --textarea-border-active: 2px solid tan;
    --textarea-border-error: 1px solid #c24229;
    --textarea-border-hover: 2px solid var(--bg-1);
    --textarea-border-radius: 5px;
    --textarea-fg: #d1bea9;
    --textarea-padding: 12px;
    --textarea-padding-active: 11px;
    --textarea-padding-hover: 11px;
    --top-nav-bg: var(--body-bg);
    --top-nav-box-shadow: none;
    --top-nav-dropdown-fg: #d1bea9;
    --top-nav-dropdown-hover-fg: #e6d9cf;
    --top-nav-dropdown-hover-bg: var(--bg-3);
    --top-nav-dropdown-hover-text-decoration: none;
    --top-nav-dropdown-menu-bg: var(--bg-3);
    --top-nav-dropdown-menu-border: none;
    --top-nav-dropdown-menu-border-radius: 6px;
    --top-nav-dropdown-menu-box-shadow: 0 12px 17px 2px #00000024, 0 5px 22px 4px #0000001f, 0 7px 8px -4px #0003;
    --top-nav-dropdown-menu-item-fg: #d1bea9;
    --top-nav-dropdown-menu-item-bg: transparent;
    --top-nav-dropdown-menu-item-hover-fg: inherit;
    --top-nav-dropdown-menu-item-hover-bg: var(--bg-0);
    --top-nav-dropdown-menu-item-hover-text-decoration: none;
    --top-nav-dropdown-menu-item-icon-fg: #e6d9cf;
    --top-nav-dropdown-menu-item-icon-bg: var(--bg-1);
    --top-nav-ratio-bar-fg: #e6d9cf;
    --top-nav-icon-bar-icon-bg: var(--bg-0);
    --top-nav-icon-bar-icon-fg: #d1bea9;
    --top-nav-icon-bar-icon-border-radius: 50%;
    --top-nav-icon-bar-icon-hover-bg: var(--bg-0);
    --top-nav-icon-bar-icon-hover-fg: #d1bea9;
    --top-nav-stats-fg: #c3b5aa;
    --top-nav-toggle-fg: #c3b5aa;
    --torrent-card-bg: var(--bg-2);
    --torrent-card-fg: var(--text-color);
    --torrent-card-border: none;
    --torrent-card-head-bg: var(--bg-5);
    --torrent-card-head-fg: #e6d9cf;
    --torrent-card-link-fg: #e6d9cf;
    --torrent-card-genre-fg: #e6d9cf;
    --torrent-group-bg: var(--bg-5);
    --torrent-group-header-bg: #3a2e23;
    --torrent-group-text: #e6d9cf;
    --torrent-group-text-muted: #a3917d;
    --torrent-group-table-stripe-even: #e6d9cf05;
    --torrent-group-table-stripe-odd: #e6d9cf0d;
    --torrent-group-hover-brightness-emphasis: 1.2;
    --torrent-group-chip-border: #e6d9cf0d;
    --torrent-row-fg: #e6d9cf;
    --torrent-row-visited-fg: tan;
    --torrent-row-sticky-bg: var(--bg-3);
    --torrent-row-format-fg: #e6d9cf;
    --torrent-row-format-bg: var(--bg-2);
    --torrent-row-buttons-fg: currentColor;
    --torrent-row-seeders-fg: #a67c52;
    --torrent-row-leechers-fg: #c77c61;
    --torrent-row-completed-fg: tan;
    --torrent-row-comments-fg: #a67c52;
    --torrent-row-internal-fg: tan;
    --torrent-row-personal-fg: #c89f84;
    --torrent-row-stream-optimized-fg: #c77c61;
    --torrent-row-featured-fg: #c89f84;
    --torrent-row-freeleech-fg: tan;
    --torrent-row-double-upload-fg: #a67c52;
    --torrent-row-sticky-fg: #e6d9cf;
    --torrent-row-highspeed-fg: #c77c61;
    --torrent-row-sd-fg: #c89f84;
    --torrent-row-bumped-fg: tan;
    --torrent-tag-fg: #e6d9cf;
    --torrent-tag-bg: transparent;
    --torrent-tag-hover-fg: #fff;
    --torrent-tag-hover-bg: #ffffff1a;
    --user-stat-card-bg: var(--bg-5);
    --user-stat-card-fg: #e6d9cf;
    --user-stat-card-border: none;
    --user-stat-card-border-radius: 0;
    --user-stat-card-box-shadow: none
}

.text-bright {
    color: #f5ebe2
}

a.text-bright:focus,
a.text-bright:hover {
    color: #fcf7f2
}

.text-blue {
    color: var(--text-color)
}

.text-purple {
    color: #c89f84
}

a {
    color: var(--color-blue)
}

a:hover {
    color: var(--color-light-blue)
}

.text-green {
    color: var(--color-light-green)
}

.text-muted {
    color: #c3b5aa
}

.text-red {
    color: var(--color-light-red)
}

.text-orange {
    color: var(--color-light-orange)
}

.text-pink {
    color: #c89f84
}

.text-danger {
    color: var(--color-light-red)
}

.badge-user {
    box-shadow: none;
    text-shadow: 1.5px 1.5px #000;
    background-color: #4a3a2e;
    border: 0
}

.footer__icon {
    color: #c89f84
}

#frame {
    background: #262929
}

#frame .content .messages ul li {
    border-bottom: 1px dashed #424545
}

.chatbox .typing {
    color: #ddd
}

#frame .content .messages ul li.sent h4 .text-muted {
    color: #818686
}

#frame .content .messages ul li>img {
    border: 3px solid #7289da
}

#frame .content .message-input .wrap input {
    color: #32465a
}

#frame .content .message-input .wrap input:focus {
    outline: none
}

#frame .content .message-input .wrap .attachment {
    color: #435f7a
}

#frame .content .message-input .wrap button {
    color: #f5f5f5;
    background: #32465a
}

#frame .content .message-input .wrap button:hover {
    background: #435f7a
}

.sent>a {
    height: 100%;
    position: absolute;
    bottom: 0
}

.sent>a>img {
    height: 100%;
    position: absolute;
    bottom: 4px;
    display: block!important
}

#frame .content .messages ul li.sent img.chat-user-image {
    width: 40px;
    height: 40px
}

.sent>h4 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 4px 12px 0 48px;
    padding: 4px 12px 0 8px;
    background-color: var(--message-bubble-bg)!important;
    display: block!important
}

.sent>div {
    border-bottom-right-radius: 15px;
    background-color: var(--message-bubble-bg)!important;
    margin: 0 12px 4px 48px!important;
    padding: 0 12px 4px 8px!important;
    display: block!important
}

.sent>.system {
    border-bottom-left-radius: 15px
}

.sent>div:not(.system):before {
    content: "";
    border-top: 10px solid #0000;
    width: 0;
    position: absolute;
    bottom: 4px;
    left: 38px;
    border-right: 10px solid var(--message-bubble-bg)!important
}

#frame .content .messages ul li.sent {
    border: 0;
    width: auto;
    max-width: 85%;
    display: table
}

#frame .content .messages ul li.sent h4 .text-muted {
    float: none
}

body {
    max-width: 1440px;
    margin: 0 auto
}

main {
    background-color: var(--body-bg-secondary);
    margin: 0 2rem;
    padding: 2rem
}

main:has(>article>section.meta) {
    background: #0a111b33
}

.page__torrents,
.user-torrents,
.user-peers {
    margin: 0!important
}

.user-torrents,
.user-peers {
    width: unset;
    align-self: unset
}

.user-torrents .data-table>tbody>tr>td,
.user-peers .data-table>tbody>tr>td,
.user-torrents__name {
    font-size: 10px
}

.top-nav {
    background-color: var(--top-nav-bg);
    grid-template: "left""right"/1fr;
    align-items: center;
    padding: 1rem 2rem .5rem;
    display: grid
}

.top-nav__left {
    grid-area: left;
    justify-content: space-between;
    column-gap: 32px;
    width: 100%;
    margin-bottom: .5rem;
    display: flex
}

.top-nav__main-menus {
    grid-area: right;
    justify-self: start;
    align-items: center;
    margin: auto 0;
    padding: 0;
    list-style-type: none;
    display: flex
}

.top-nav__right {
    grid-area: right;
    column-gap: 40px;
    width: 60%;
    margin-left: auto;
    display: flex;
    position: relative;
    top: -6rem;
    container-type: inline-size
}

.top-nav__ratio-bar.top-nav__ratio-bar {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    font-size: 12px;
    display: grid
}

.top-nav__stats {
    display: none
}

@container (width>=800px) {
    .top-nav__ratio-bar.top-nav__ratio-bar {
        grid-template-rows: auto;
        grid-template-columns: repeat(8, auto);
        font-size: 12px;
        display: grid
    }
    .top-nav__ratio-bar li:nth-child(-n+4),
    .top-nav__ratio-bar li:nth-child(n+5) {
        text-align: center;
        flex-basis: 25%
    }
}

@container (width>=650px) {
    .top-nav__username--highresolution {
        display: flex
    }
}

@container (width>=520px) and (width<=600px) {
    .top-nav__stats {
        display: grid
    }
    .top-nav__ratio-bar.top-nav__ratio-bar {
        display: none
    }
}

@container (width<=520px) {
    .top-nav__ratio-bar.top-nav__ratio-bar {
        display: none
    }
}

@media screen and (width<=767px) {
    .top-nav__main-menus {
        display: none
    }
    .top-nav__toggle {
        font-size: 2.5rem;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem
    }
    .top-nav {
        padding-bottom: .5rem
    }
    main {
        margin: 0
    }
}

.top-nav__main-menus {
    gap: 3px
}

.top-nav__main-menus>li {
    background: var(--bg-2);
    border-radius: 6px;
    position: relative
}

.top-nav__dropdown>ul {
    top: 30px
}

.top-nav__icon-bar .top-nav__dropdown>ul {
    top: 32px;
    right: 0
}

.nav-tab-menu__items {
    top: 30px
}

.quick-search {
    max-width: 280px;
    height: 32px;
    top: 66px
}

.quick-search__inputs {
    width: 100%
}

body>header {
    position: unset
}

.top-nav--left__container .progress {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0
}

.secondary-nav {
    width: calc(100% - 4rem);
    margin-left: 2rem;
    position: relative
}

.panel__heading {
    padding: 7px 10px
}

.torrent-search__filters {
    margin: 0 1rem
}

.meta__backdrop {
    top: 0
}

#missing-media-table.data-table>tbody>tr>td {
    font-size: 11px
}

.top-nav__branding {
    width: 220px;
    height: 60px
}

.top-nav.mobile {
    flex-direction: column;
    display: flex
}

.top-nav__right.mobile {
    width: 100%;
    top: unset
}

.top-nav__main-menus.mobile {
    width: 100%;
    margin-bottom: 16px
}

.top-nav__main-menus.mobile>li {
    width: 100%
}

.chatbox-message__content {
    word-wrap: break-word
}

.footer {
    padding: 20px max(10px, 5vw - 30px, 10vw - 100px)
}
